@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  z-index: -1;
}

.color-bg-button {
  background-color: #FC7071;
  z-index: 1000;
  transition: all 0.7s;
  border: 1px solid #FC7071;
}
.color-bg-button:hover {
  background-color: #e75656;
  border: 1px solid #e75656;
}

.color-txt {
  color: #fff;
}

.color-txt-1 {
  color: #3772FF;
}

.color-txt-2 {
  color: #FC7071;
}

.pet-color-bg-custom {
  z-index: -1;
  background-color: #F7F7F7;
}

.pet-link {
  color: #fff;
  text-decoration: none;
}
.pet-link:hover {
  color: #fff;
  text-decoration: underline;
}

.erro-container {
  position: relative;
}

.erro-mensagem {
  display: none;
  position: absolute;
  bottom: -1.3rem;
  font-size: 0.75rem;
  color: #FC7071;
}

.erro-container.erro-mensagem {
  display: block;
}

#conferirSenhas {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.senhasDiferentes {
  position: relative;
  height: 40px;
  color: rgb(131, 12, 12);
  font-size: 0.875rem;
  margin: 0 auto;
  margin-bottom: 0.5rem;
  line-height: 40px;
  border-radius: 6px;
  background-color: rgba(252, 181, 181, 0.8);
  transition: all 0.3s;
  z-index: 9999;
}

@media (min-width: 360px) {
  .pet-template__ilustracao {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 60px);
  }
  .pet-template__ilustracao::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 50%;
    background-color: transparent;
    background-image: url("/src/assets/imgs/forma-1.svg");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
  }
  .pet-template__ilustracao::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 40%;
    width: 100%;
    height: 55%;
    background-color: transparent;
    background-image: url("/src/assets/imgs/forma-2.svg");
    background-size: contain;
    transform: scaleX(-1);
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
    z-index: -1;
  }
  .pet-template__figure {
    position: absolute;
    width: 100%;
  }
  .pet-template__figure::after {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    top: 0;
    right: 0;
    background-image: url("../imgs/tres-patas.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    pointer-events: none;
    z-index: 10;
  }
}
@media (min-width: 572px) {
  .pet-template__ilustracao::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 30%;
    width: 100%;
    height: 60%;
    background-color: transparent;
    background-image: url("/src/assets/imgs/forma-2.svg");
    background-size: contain;
    transform: scaleX(1);
    background-repeat: no-repeat;
    background-position: right;
    pointer-events: none;
    z-index: -1;
  }
}
@media (min-width: 1440px) {
  .pet-template__ilustracao::before {
    width: 100%;
    height: 50%;
  }
  .pet-template__ilustracao::after {
    top: 22%;
    width: 100%;
    height: 65%;
  }
  .pet-template__figure::after {
    height: 45%;
  }
}
@media (min-width: 360px) {
  .pet-form {
    z-index: 1000;
  }
  .pet-form__label {
    color: #737380;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
  }
  .pet-form__input {
    background-color: #F6F6F6;
    border: none;
    padding: 0.5rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: #BCBCBC;
  }
  .pet-form__input::placeholder {
    font-size: 0.75rem;
    color: #BCBCBC;
  }
  .pet-form__input:focus {
    color: #BCBCBC;
  }
}
@media (min-width: 772px) {
  .pet-form__input::placeholder {
    font-size: 0.875rem;
  }
}
@media (min-width: 992px) {
  .pet-form__label {
    font-weight: 600;
  }
  .pet-form__input::placeholder {
    font-size: 1rem;
  }
}
.pet-header {
  z-index: 100;
}
.pet-header__img-header {
  height: 23px;
  width: auto;
}
.pet-header__user {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.pet-header__link {
  width: auto;
}

.pet-footer {
  position: relative;
  height: 60px;
  background-color: #36D6AD;
}

@media (min-width: 360px) {
  .pet-footer__author {
    font-size: 0.7rem;
    line-height: normal;
  }
}
@media (min-width: 572px) {
  .pet-footer__author {
    font-size: 0.9rem;
  }
}
@media (min-width: 992px) {
  .pet-footer__author {
    font-size: 1rem;
  }
}
.pet-main {
  position: relative;
  padding-top: 130px;
  height: calc(100vh - 60px);
  background-color: #3772FF;
  overflow: hidden;
}
.pet-main::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-image: url("/src/assets/imgs/forma-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.pet-main::before {
  content: "";
  position: absolute;
  right: -25px;
  top: 25%;
  display: block;
  height: 100%;
  width: 100px;
  z-index: 1;
  background-image: url("/src/assets/imgs/forma-2.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.pet-main__home {
  height: 100%;
}
.pet-main__logo {
  height: 64px;
  width: auto;
}
.pet-main__title {
  font-size: 1.75rem;
}
.pet-main__subtitle {
  font-size: 1.125rem;
}

@media (min-width: 360px) {
  .bg-pets-ilustracao {
    position: absolute;
    bottom: -20px;
    height: 30%;
    width: 100%;
    background-image: url("/src/assets/imgs/Ilustracao-pets.png");
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 420px) {
  .pet-main {
    position: relative;
    padding-top: 130px;
    height: calc(100vh - 60px);
    background-color: #3772FF;
    overflow: hidden;
  }
  .pet-main::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    height: 45%;
    width: 100%;
    z-index: 1;
    background-image: url("/src/assets/imgs/forma-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pet-main::before {
    content: "";
    position: absolute;
    right: -25px;
    top: 25%;
    display: block;
    height: 100%;
    width: 100px;
    z-index: 1;
    background-image: url("/src/assets/imgs/forma-2.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@media (min-width: 768px) {
  .pet-main::after {
    height: 50%;
  }
  .pet-main__home {
    padding-top: 120px;
  }
  .bg-pets-ilustracao {
    height: 30%;
  }
}
@media (min-width: 1200px) {
  .pet-main__home {
    padding-top: 0;
  }
  .bg-pets-ilustracao {
    height: 45%;
  }
}
.pet-form {
  z-index: 1000;
}
.pet-form .bi {
  font-size: 1.3rem;
  cursor: pointer;
  color: #BCBCBC;
  padding: 0.2rem 0.4rem;
  right: 0.5rem;
}

@media (min-width: 360px) {
  .pet-template__logo {
    height: 32px;
    margin: 0 auto;
  }
}
@media (min-width: 572px) {
  .pet-template__logo {
    height: 64px;
  }
}
@media (min-width: 360px) {
  .pet-login__subtitle {
    font-size: 1rem;
  }
  .pet-login__forgot-link {
    font-size: 0.75rem;
    text-decoration: none;
  }
  .pet-login__forgot-link:hover {
    text-decoration: underline #FC7071;
  }
}
@media (min-width: 772px) {
  .pet-login__subtitle {
    font-size: 1.125rem;
  }
  .pet-login__forgot-link {
    font-size: 1rem;
  }
}
.pet-header__control {
  display: flex;
  justify-content: flex-end;
}
.pet-header__user {
  margin-right: 174px;
}

.pet-gallery__pet-image {
  display: block;
  object-fit: contain;
  margin-left: auto;
}
.pet-gallery__description {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #737380;
}
.pet-gallery__regional {
  font-size: 0.75rem;
  color: #737380;
  line-height: 1;
}
.pet-gallery__link {
  display: flex;
  align-items: center;
  font-size: 0.625rem;
  line-height: 25px;
  text-decoration: none;
  color: #737380;
}
.pet-gallery__link:hover {
  text-decoration: underline;
  color: #737380;
}
.pet-gallery__link::before {
  content: "";
  position: relative;
  margin-right: 0.325rem;
  height: 18px;
  width: 18px;
  background-image: url("/src/assets/imgs/ícone-mensagem.svg");
  background-repeat: no-repeat;
}

@media (min-width: 360px) {
  .pet-header__control {
    display: flex;
    justify-content: flex-end;
  }
  .pet-header__user {
    margin-right: 0px;
  }
  .pet-gallery__title {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .pet-template__ilustracao::after {
    background-image: url(transparent);
  }
}
@media (min-width: 772px) and (max-width: 1200px) {
  .pet-gallery__title {
    margin-top: 6rem;
    font-size: 1.125rem;
  }
  .pet-template__ilustracao::before {
    height: 35%;
    background-image: url("/src/assets/imgs/forma-1.svg");
  }
}
@media (min-width: 1200px) {
  .pet-header__user {
    margin-right: 160px;
  }
  .pet-gallery__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 360px) {
  .pet-contact {
    display: block;
    height: calc(100vh - 60px);
    width: 100%;
  }
  .pet-contact::before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: url("/src/assets/imgs/forma-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pet-contact__section {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }
  .pet-contact__title {
    font-size: 1rem;
    margin-top: 5rem;
    line-height: 20px;
    z-index: 5000;
  }
  .pet-contact__form {
    margin-top: 2.5rem;
    z-index: 1;
  }
  .pet-contact__input, .pet-contact__textarea {
    color: #BCBCBC;
    font-size: 0.875rem;
    line-height: 24px;
    padding: 12px 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  }
  .pet-contact__input::placeholder, .pet-contact__textarea::placeholder {
    color: #BCBCBC;
  }
  .pet-contact__input:focus, .pet-contact__textarea:focus {
    color: #BCBCBC;
  }
}
@media (min-width: 572px) {
  .pet-contact::before {
    width: 70%;
  }
}
@media (min-width: 772px) {
  .pet-contact::before {
    width: 60%;
    max-width: 600px;
  }
  .pet-contact::after {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/src/assets/imgs/forma-2.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .pet-contact__section {
    padding-top: 3rem;
  }
}
@media (min-width: 360px) {
  .pet-profile {
    height: 100%;
  }
  .pet-profile__section {
    height: 100%;
    z-index: 50;
  }
  .pet-profile__section::after {
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    width: 100%;
    background-image: url("/src/assets/imgs/forma-1.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .pet-profile .pet-container {
    padding-top: 200px;
    margin-bottom: 2rem;
  }
  .pet-profile__title {
    font-size: 1rem;
  }
  .pet-profile__subtitle {
    font-size: 1.3125rem;
    color: #737380;
  }
  .pet-profile__group {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    z-index: 100;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .pet-profile__group:hover::before {
    content: "X";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    color: #fff;
    overflow: hidden;
    border: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.275) 10%, rgba(124, 124, 124, 0.2) 100%);
    z-index: 1;
  }
  .pet-profile__img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    object-position: center;
  }
  .pet-profile #input-nome-foto {
    display: none;
    visibility: hidden;
  }
  .pet-profile__message {
    padding-top: 0.5rem;
    font-size: 0.75rem;
    line-height: 20px;
    color: #FC7071;
  }
}
@media (min-width: 572px) {
  .pet-profile__section::after {
    width: 80%;
  }
  .pet-profile .pet-container {
    padding-top: 230px;
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) {
  .pet-profile {
    height: 100%;
  }
  .pet-profile__section::after {
    width: 65%;
    max-width: 600px;
  }
  .pet-profile .pet-container {
    padding-top: 230px;
  }
  .pet-profile__title {
    font-size: 1.125rem;
  }
}
@media (min-width: 992px) {
  #profile-img {
    height: 64px;
    width: 65px;
    border-radius: 50%;
  }
}
@media (min-width: 1400px) {
  .pet-profile .pet-container {
    padding-top: 180px;
  }
}

/*# sourceMappingURL=styles.css.map */
